.Arrow
  //quite confusing sass structure, i know, but .Arrow is actually INSIDE .Arrow__container
  width: 100px !important //overwriting fontawesome default width
  height: 100px
  color: white
  &--black
    color: black
  &:hover
    color: rgba(248,170,103,255)
    animation: mover 0.4s infinite alternate

  &__container //arrow container styled in specific sections when needed

@keyframes mover
  0%
    transform: translateY(0)
  100%
    transform: translateY(25px)
