.Arrow
  width: 100px !important //overwriting fontawesome default width
  height: 100px
  color: white
  &:hover
    box-shadow: 1px 1px 7px 5px white
  &--black
    color: black
    &:hover
      box-shadow: 1px 1px 7px 5px black

  &__container //arrow container styled in specific sections when needed