.Section
  display: flex
  margin: -100px 90px 500px
  color: #000
  position: relative
  flex-direction: column
  padding-top: 100px //fix for anchor targeting (-100px margin-top too)

  &--card
    flex-direction: row
    background-color: rgba(0, 0, 0, 0.8)
    justify-content: space-around
    flex-wrap: wrap
    max-width: 1140px
    margin: 0 auto 500px
    color: #fff
    padding: 0
    @media (min-width: 1141px)
      margin: 61px auto 500px
    @media (min-width: 769px ) and (max-width: 1140px)
      margin: 70px auto 500px
    @media screen and ( max-width: 768px )
      margin-top: 0

  &--skills
    align-items: center
    @media screen and ( max-width: 768px )
      margin: 0

    .Section__container
      display: flex
      width: 100%
      max-width: 1440px
      flex-wrap: wrap
      margin-bottom: 60px

      &::after
        content: ""
        flex: auto
        flex-basis: 33%

    .Section__item
      flex: 25%
      padding: 20px 0
      @media (min-width: 510px) and ( max-width: 630px )
        flex: 33%
      @media screen and ( max-width: 510px )
        flex: 50%

    .icon
      width: 50px
      height: 50px
      @media screen and ( max-width: 880px )
        width: 30px
        height: 30px
    h3
      margin: 0
      font-size: 25px
      @media screen and ( max-width: 511px )
        font-size: 17px

  &--about
    @media screen and ( max-width: 530px )
      margin: -100px 5% 500px

    .Section__container
      overflow: hidden
    .Section__item
      &--flying
        position: relative
        transition: left 0.5s ease-out, color 2s ease-out
        margin: 30px 0
        font-size: 30px
        @media screen and ( max-width: 768px )
          font-size: 20px

      &1
        left: 1000px
        font-weight: 600
      &2
        left: -2500px
      &3
        left: 3700px
      &4
        left: -4800px

  &__title
    width: 100%
    font-size: 40px
    @media (min-width: 361px) and ( max-width: 768px )
      font-size: 30px
    @media screen and (max-width: 360px)
      font-size: 20px