html {
  max-width: 1920px;
  margin: 0 auto;
  scroll-behavior: smooth;
  height: 5000px;
}

body {
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(../assets/yehleen-gaffney-ZUY4OT_lMgs-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: 1920px auto;
}

@media (min-width: 769px) and (max-width: 1440px) {
  body {
    background-size: auto 1227px;
    background-position: 43% 0%;
  }
}

@media (max-width: 768px) {
  body {
    background-size: auto 768px;
    background-position: 50% -1%;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.App {
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

.Header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1920px;
  width: 100%;
  z-index: 100;
  position: fixed;
}

@media screen and (max-width: 768px) {
  .Header {
    position: static;
  }
}

.Header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 769px) and (max-width: 1440px) {
  .Header__container {
    margin: 0 20px;
  }
}

@media screen and (max-width: 1140px) {
  .Header__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .Header__container {
    background-color: rgba(0, 0, 0, 0.5);
    padding-bottom: 20px;
    border-bottom: 1px solid white;
  }
}

.Header__logo {
  padding: 5px 0;
  color: #fff;
  font-size: 25px;
  font-weight: 800;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 1140px) {
  .Header__logo {
    padding: 5px 0 0;
    text-align: center;
  }
}

@media screen and (max-width: 400px) {
  .Header__logo {
    position: relative;
    left: 10%;
    text-align: left;
  }
}

.Header__logo span {
  width: 100%;
  font-weight: 600;
  font-size: 20px;
}

@media screen and (min-width: 769px) {
  .Header {
    top: 0;
    background-color: rgba(0, 0, 0, 0.8);
  }
}

.Hamburger {
  margin: 20px;
  padding: 4px;
  height: 30px;
  width: 50px;
  position: fixed;
  left: 0;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Hamburger:hover {
  cursor: pointer;
}

.Hamburger:hover .Hamburger__line1, .Hamburger:hover .Hamburger__line2, .Hamburger:hover .Hamburger__line3 {
  background-color: #f8aa67;
}

@media screen and (max-width: 400px) {
  .Hamburger {
    margin: 5px;
    height: 17px;
    width: 26px;
  }
}

@media screen and (max-width: 768px) {
  .Hamburger {
    background-color: rgba(0, 0, 0, 0.2);
  }
}

@media (min-width: 1141px) {
  .Hamburger {
    display: none;
  }
}

.Hamburger-x .Hamburger__line1, .Hamburger-x .Hamburger__line2, .Hamburger-x .Hamburger__line3 {
  background-color: #fff !important;
}

.Hamburger-x .Hamburger__line1 {
  position: relative;
  top: 12px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.Hamburger-x .Hamburger__line2 {
  opacity: 0;
}

.Hamburger-x .Hamburger__line3 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  position: relative;
  bottom: 13px;
}

@media screen and (max-width: 400px) {
  .Hamburger-x .Hamburger__line3 {
    bottom: 1px;
  }
}

.Hamburger__line1, .Hamburger__line2, .Hamburger__line3 {
  position: relative;
  height: 5px;
  pointer-events: none;
  background-color: #fff;
}

@media screen and (max-width: 400px) {
  .Hamburger__line1, .Hamburger__line2, .Hamburger__line3 {
    height: 4px;
  }
}

.Menu {
  padding: 10% 0 5%;
  max-width: 800px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  z-index: 1;
}

@media (min-width: 769px) {
  .Menu {
    position: static;
    background-color: transparent;
    padding: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (max-width: 1140px) {
  .Menu {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.Menu__hidden {
  opacity: 0;
  pointer-events: none;
  height: 15px;
}

.Menu__link {
  vertical-align: middle;
  cursor: pointer;
  padding: 20px 0;
  font-size: 30px;
  font-weight: 700;
  text-decoration: none;
  color: inherit;
}

@media screen and (max-width: 768px) {
  .Menu__link {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

@media (min-width: 769px) {
  .Menu__link {
    display: table-cell;
    font-size: 20px;
  }
}

.Menu__link:hover {
  color: #f8aa67;
}

.Section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -100px 90px 500px;
  color: #000;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 100px;
}

.Section a {
  text-decoration: none;
  color: inherit;
}

.Section--card {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-bottom: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1440px;
  margin: 200px auto 500px;
  border-radius: 3%;
  color: #fff;
  padding: 0;
}

.Section--card .Arrow__container {
  padding-top: 60px;
  margin: 0 45%;
}

@media screen and (max-width: 768px) {
  .Section--card {
    margin-top: 0;
    border-radius: 0;
  }
  .Section--card .Arrow__container {
    padding: 0;
  }
}

@media screen and (max-width: 768px) {
  .Section--skills {
    background-image: url("../assets/paper.jpg");
    background-repeat: no-repeat;
    background-position: 50% 0;
    margin: 0 0 500px 0;
  }
}

@media screen and (max-width: 768px) {
  .Section--skills {
    background-size: 800px auto;
  }
}

.Section--skills .Section__background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url("../assets/notebook.jpg");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 1440px;
}

@media (min-width: 769px) and (max-width: 1660px) {
  .Section--skills .Section__background {
    background-size: contain;
    background-position: 0 0;
    height: 87vw;
  }
}

@media screen and (max-width: 768px) {
  .Section--skills .Section__background {
    background-image: none;
    height: auto;
  }
}

.Section--skills .Section__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1440px;
  margin-top: 400px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 769px) and (max-width: 1660px) {
  .Section--skills .Section__container {
    margin-top: 25vw;
  }
}

@media screen and (max-width: 768px) {
  .Section--skills .Section__container {
    margin: 60px 0;
  }
}

.Section--skills .Section__container::after {
  content: "";
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
}

.Section--skills .Section__item {
  -webkit-box-flex: 25%;
      -ms-flex: 25%;
          flex: 25%;
  padding: 20px 0;
}

@media (min-width: 371px) and (max-width: 450px) {
  .Section--skills .Section__item {
    -webkit-box-flex: 33%;
        -ms-flex: 33%;
            flex: 33%;
  }
}

@media screen and (max-width: 370px) {
  .Section--skills .Section__item {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
  }
}

.Section--skills .Section__title {
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .Section--skills .Section__title {
    margin-top: 115px;
  }
}

.Section--skills .icon {
  width: 100px;
  height: 100px;
}

@media screen and (max-width: 880px) {
  .Section--skills .icon {
    width: 50px;
    height: 50px;
  }
}

.Section--skills h3 {
  margin: 0;
  font-size: 25px;
}

@media screen and (max-width: 530px) {
  .Section--about {
    margin: -100px 5% 500px;
  }
}

.Section--about .Section__container {
  overflow: hidden;
}

.Section--about .Section__item--flying {
  position: relative;
  -webkit-transition: left 0.5s ease-out, color 2s ease-out;
  transition: left 0.5s ease-out, color 2s ease-out;
  margin: 30px 0;
  font-size: 30px;
}

.Section--about .Section__item1 {
  left: 1000px;
  font-weight: 600;
}

.Section--about .Section__item2 {
  left: -2500px;
}

.Section--about .Section__item3 {
  left: 3700px;
}

.Section--about .Section__item4 {
  left: -4800px;
}

.Section__title {
  width: 100%;
  font-size: 60px;
}

@media (min-width: 361px) and (max-width: 768px) {
  .Section__title {
    font-size: 40px;
  }
}

@media screen and (max-width: 360px) {
  .Section__title {
    font-size: 30px;
  }
}

.ProjectCard {
  position: relative;
  width: 300px;
  height: 550px;
  padding: 7px;
  margin-bottom: 60px;
  background-color: rgba(248, 170, 103, 0.8);
  border-radius: 4%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.ProjectCard:hover {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.ProjectCard__side {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 6%;
}

.ProjectCard__front {
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.ProjectCard__back {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0;
  background-color: transparent;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.ProjectCard__back h1 {
  border-bottom: 3px solid rgba(0, 0, 0, 0.2);
}

.ProjectCard img {
  width: 100%;
  border-radius: 6%;
  height: 40%;
  -o-object-fit: cover;
     object-fit: cover;
}

.Arrow {
  width: 100px !important;
  height: 100px;
  color: white;
}

.Arrow--black {
  color: black;
}

.Arrow:hover {
  color: #f8aa67;
  -webkit-animation: mover 0.4s infinite alternate;
          animation: mover 0.4s infinite alternate;
}

@-webkit-keyframes mover {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(25px);
            transform: translateY(25px);
  }
}

@keyframes mover {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(25px);
            transform: translateY(25px);
  }
}

.Footer {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-size: 30px;
}

.Footer__title {
  padding: 20px 0;
}

.Footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 285px;
  margin: 0 auto;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.Footer__link {
  text-decoration: none;
  color: inherit;
  margin-bottom: 10px;
  font-size: 20px;
}

.Footer__link:hover {
  color: #f8aa67;
  stroke: red;
}

.Footer__icon {
  padding-right: 5px;
}
