html {
  max-width: 1920px;
  margin: 0 auto;
}

body {
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(../assets/yehleen-gaffney-ZUY4OT_lMgs-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.App {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  height: 5000px;
}

.Header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
}

@media screen and (max-width: 768px) {
  .Header {
    position: fixed;
  }
}

.Hamburger {
  margin: 26px;
  padding: 4px;
  height: 30px;
  width: 50px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Hamburger:hover {
  cursor: pointer;
}

.Hamburger:hover .Hamburger__line1, .Hamburger:hover .Hamburger__line2, .Hamburger:hover .Hamburger__line3 {
  background-color: white;
}

@media screen and (max-width: 400px) {
  .Hamburger {
    margin: 10px;
  }
}

@media (min-width: 769px) {
  .Hamburger {
    display: none;
  }
}

.Hamburger-x .Hamburger__line1 {
  position: relative;
  top: 12px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.Hamburger-x .Hamburger__line2 {
  opacity: 0;
}

.Hamburger-x .Hamburger__line3 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  position: relative;
  bottom: 13px;
}

.Hamburger__line1, .Hamburger__line2, .Hamburger__line3 {
  position: relative;
  height: 5px;
  pointer-events: none;
  background-color: #f8aa67;
}

.Menu {
  padding: 10% 0 5%;
  max-width: 800px;
  margin: 0 auto;
  width: 100%;
  display: table;
  height: 60px;
  overflow: hidden;
  color: white;
}

@media (min-width: 769px) {
  .Menu {
    padding: 0;
  }
}

.Menu div {
  padding: 3% 0;
  font-size: 30px;
  font-weight: 700;
}

@media (min-width: 769px) {
  .Menu div {
    font-size: 20px;
    padding: 0;
  }
}

.Menu__link {
  vertical-align: middle;
  cursor: pointer;
}

@media (min-width: 769px) {
  .Menu__link {
    display: table-cell;
  }
}

.Menu__link:hover {
  color: #f8aa67;
}

.Section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 90px;
  color: #fff;
  border-radius: 2.25rem;
}

.Section--Card {
  background-color: rgba(0, 0, 0, 0.5);
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1440px;
  margin: 90px auto;
}

.Section__title {
  width: 100%;
  font-size: 80px;
}

.ProjectCard {
  max-width: 400px;
  margin: 90px 0px;
  padding: 30px;
  color: inherit;
  text-decoration: none;
  text-align: left;
}

.ProjectCard:hover {
  background-color: rgba(0, 0, 0, 0.5);
  background: linear-gradient(60deg, #ff7a18, #9E6F49 40%, #fff 65%);
  -webkit-box-shadow: rgba(0, 0, 37, 0.15) 0px 2px 4px 0px, rgba(248, 170, 103, 0.52) 0px 2px 15px 0px;
          box-shadow: rgba(0, 0, 37, 0.15) 0px 2px 4px 0px, rgba(248, 170, 103, 0.52) 0px 2px 15px 0px;
}

.ProjectCard h1 {
  text-align: center;
}

.ProjectCard img {
  width: 100%;
}
