.Menu
  padding: 10% 0 5%
  max-width: 800px
  margin: 0 auto
  width: 100%
  display: flex
  flex-direction: column
  color: white
  transition: all 0.5s ease
  align-items: center
  background-color: rgba(0, 0, 0, 0.8)
  @media ( min-width: 769px )
    background-color: transparent
    display: table
    height: 60px
    padding: 0
    overflow: hidden
  &__hidden
    opacity: 0
    pointer-events: none

  a
    padding: 3% 0
    font-size: 30px
    font-weight: 700
    text-decoration: none
    color: inherit
    @media screen and ( max-width: 768px )
      width: fit-content
    @media ( min-width: 769px )
      font-size: 20px
      padding: 0
      
  &__link
    vertical-align: middle
    cursor: pointer
    @media ( min-width: 769px )
      display: table-cell
    &:hover
      color: rgba(248,170,103,255)    