.Menu
  padding: 10% 0 5%
  max-width: 800px
  margin: 0 auto
  width: 100%
  display: flex
  flex-direction: column
  color: white
  @media ( min-width: 769px )
    display: table
    height: 60px
    padding: 0
    overflow: hidden
  & a
    padding: 3% 0
    font-size: 30px
    font-weight: 700
    @media ( min-width: 769px )
      font-size: 20px
      padding: 0
  &__link
    vertical-align: middle
    cursor: pointer
    @media ( min-width: 769px )
      display: table-cell
    &:hover
      color: rgba(248,170,103,255)
  a
    text-decoration: none
    color: inherit
    