.Header
  background-color: green
  @media screen and ( max-width: 479px )
    padding: 5% 0
  @media ( min-width: 480px ) and ( max-width: 719px )
    padding: 3% 0
  @media ( min-width: 480px ) and ( max-width: 719px )
    padding: 3% 0
