.Hamburger
  margin: 10px
  padding: 20px
  height: 30px
  width: 50px
  position: absolute
  display: flex
  flex-direction: column
  justify-content: space-between
  border-radius: 19%
  background-color: rgba(255, 255, 255, 0.1)
  @media ( min-width: 769px )
    position: relative
  &-x
    .Hamburger__line1
      position: relative
      top: 12px
      transform: rotate(45deg)
    .Hamburger__line2
      opacity: 0
    .Hamburger__line3
      transform: rotate(-45deg)
      position: relative
      bottom: 13px
    @media ( min-width: 769px )
      .Hamburger__line1, .Hamburger__line3
        width: 30px
      .Hamburger__line1
        top: 3px
      .Hamburger__line3
        bottom: 3px

  // &__line1
  // &__line2
  // &__line3
  &__line1, &__line2, &__line3
    height: 5px
    pointer-events: none
    background-color: red
    transition: transform .3s ease-in-out, opacity .3s ease-in-out